@import '~bootstrap/dist/css/bootstrap';

.call-to-action {background:#0086d2; padding:40px 0;}

.call-to-action  h1{
    text-transform:uppercase; 
    color:#fff; 
    font-family:Arial;
    font-size:40px;
    }

.call-to-action .btn {
    border-radius: 5px;
    margin: 21px 0 0 0;
    font-weight:700;
}

.call-to-action .btn.btn-white {
    background: #fff;
    color: #666;
    border-bottom: 4px solid #ddd;
}

@media (max-width: 768px) {
    .m-text-center {text-align:center;}
    .call-to-action h1{font-size:20px;}
}
@media (max-width: 1024px) {
    .m-text-center {text-align:center;}
    .call-to-action h1{font-size:25px;}
}

.box-icon {
    display: flex;
    width: 140px;
    justify-content: space-evenly;
}

#name-navbar {
    margin-right: 5em !important;
}