@import '~bootstrap/dist/css/bootstrap';
@import '~flag-icon-css/css/flag-icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '~bootstrap-icons/font/bootstrap-icons';

*{
    font-family: 'Poppins', sans-serif;
}

/* CALL TO ACTION */

.call-to-action {background:#0086d2; padding:40px 0;}

.call-to-action  h1{
    text-transform:uppercase;
    color:#fff;
    font-family:Arial;
    font-size:40px;
    }

.call-to-action .btn {
    border-radius: 5px;
    margin: 21px 0 0 0;
    font-weight:700;
}

.call-to-action .btn.btn-white {
    background: #fff;
    color: #666;
    border-bottom: 4px solid #ddd;
}

@media (max-width: 768px) {
    .m-text-center {text-align:center;}
    .call-to-action h1{font-size:20px;}
}
@media (max-width: 1024px) {
    .m-text-center {text-align:center;}
    .call-to-action h1{font-size:25px;}
}

.box-icon {
    display: flex;
    width: 140px;
    justify-content: space-evenly;
}

#name-navbar {
    margin-right: 5em !important;
}

/* REVISOR GOOGLE_API ICONS */
.VERY_UNLIKELY{
    color: greenyellow
}
.UNLIKELY {
    color: green
}
.POSSIBLE {
    color: orange;
}
.LIKELY {
    color: orangered;
}
.VERY_LIKELY{
    color: red;
}
.UNKNOWN {
    color: grey;
}

.btn-primary {
    background-color: #828FD1;
    border: 0;
}

.btn-success {
    background-color: #4D74D2;
    border: 0;
}

#subelo {
    border-radius: 10px;
    background-color: #0086d2;
    padding: 10px;
    text-align: center;
}
