@import '~bootstrap/dist/css/bootstrap';

section {background:#0086d2; padding:40px 0;}

h1{
    text-transform:uppercase; 
    color:#fff; 
    font-family:Arial;
    font-size:40px;
    }

.btn {
    border-radius: 5px;
    margin: 21px 0 0 0;
    font-weight:700;
}

.btn.btn-white {
    background: #fff;
    color: #666;
    border-bottom: 4px solid #ddd;
}

@media (max-width: 768px) {
    .m-text-center {text-align:center;}
    .call-to-action h1{font-size:20px;}
}
@media (max-width: 1024px) {
    .m-text-center {text-align:center;}
    .call-to-action h1{font-size:25px;}
}